# PHPStorm
/.idea/

# Eclipse
/.settings
/.project
/.buildpath

# Netbeans
/nbproject/

# Build Artifacts
/build/

# Composer
/vendor/
composer.phar

# Phive
/tools/

# papaya CMS
/papaya.php
/papaya.sqlite
/htdocs/conf.inc.php
/htdocs/revisions.inc.php
/htdocs/papaya/
/papaya-data/



# Default template and theme
/templates/responsive/
/htdocs/papaya-themes/dynamic/

